@media (max-width: 1024px) {
.intro-section {
    height: initial;
    padding-top: 100px;
}

@media (max-width: 768px) {
.demo-2 .sl-slider h2{

	font-size: 20px;

	 padding: 10px;

}

.skill_mig{

	padding-left: 0;

}

#msform{

	width: 100%

}

.cover-card h2{

	margin-top:0; 

}

#quote-carousel .carousel-indicators {

    bottom: -55px;

}

#quote-carousel .carousel-indicators .active {

   width: 80px;

    height: 80px;

}

.nav > li > a{

	 padding: 10px 21px;

}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{

	padding-bottom: 10px;

	border-bottom: none;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{

	padding-bottom: 10px;

	border-bottom: none;

}

.other_visa{

	width: 100%

}

.news1{

	width: 100%;

}

.carousel-inner blockquote p{

	font-size: 14px;

	line-height: 17px;

}

#msform fieldset{

	width: 80%;

}

.navbar-toggle {

    border-radius:0;

    margin-top: 31px;  

}

.navbar-default .navbar-toggle .icon-bar {

    background-color: #FFFFFF;

}

.carousel-indicators{

	display: none;

}

.dob .col-sm-2 {

    width: 31.5%;

}
.intro-section {
    height: initial;
    padding-top: 100px;
}
.about-section {
    padding: 30px 0px;
}

}

@media (max-width: 467px) {

.navbar-brand {
  margin-right: 20px;
}
#about h2, #skill h2, #online h3{
	font-size: 100%;
}
#carousel h2, .form-area h2, .find h2, #study h2 {
  font-family: "Source Sans Pro",sans-serif;
  font-size: 155%;
}
.img-fb{
	overflow: hidden;
	clear: both;
	width: 100%;
}

.cover-card {
    min-height: 331px;   
}
.sub1 {
  font-size: 87%;
}

#carousel {
  padding: 66px 0 19px;
}
.carousel-inner {
  min-height: 220px;
}
#quote-carousel {
  margin-top: 10px;
  padding: 0 10px 10px;
}

}

@media (max-width:481px) {



.demo-2 .sl-slider h2{

	font-size: 20px;

	padding: 10px;

	}

.cover-card h2{

	margin:0; 

}

.skill_mig{

	padding-left: 0;

	}



#msform{

 width: 100%

}

.cover-card h2{

	margin-top:0; 

}

#quote-carousel .carousel-indicators .active {

    width: 80px;

    height: 80px;

}

.nav > li > a{

	 padding: 10px 21px;

}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{

	padding-bottom: 10px;

	border-bottom: none;

}



.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{

	padding-bottom: 10px;

	border-bottom: none;

}

.other_visa{

	width: 100%

}

.news1{

	width: 100%;

}

.carousel-inner blockquote p{

	font-size: 14px;

	line-height: 17px;

}

#msform fieldset{

	width: 80%;

}

.navbar-toggle {

    border-radius:0;

    margin-top: 31px;  

}

.navbar-default .navbar-toggle .icon-bar {

    background-color: #FFFFFF;

}

.carousel-indicators{

	display: none;

}

.dob .col-sm-2 {

    width: 31.5%;

}

}

@media (min-width: 793px) and (max-width: 1079px) { 
	.navbar-right {
    float: left !important;
    margin-right: -15px;
}

}

@media (min-width: 760px) and (max-width: 1079px) { 
.dob .col-sm-2 {
    width: auto !important;
}

@media (min-width: 700px) and (max-width: 750px) { 
.intro-section {
    height: auto !important;
    padding-top: 100px;
}
}

