
body {

	font-family: 'Source Sans Pro', sans-serif;
}
a:focus{
	outline:none;
}
.navbar-default {
    background-color: #c2181b;
    border:0;
}
.navbar-default .navbar-nav > li > a{
	color: #fff;
}
.navbar-nav > li > a {
    border-left: 1px solid #df1f23;
    border-right: 1px solid #94110b;
}
.navbar-nav > li:first-child > a {
    border-left: 0 none;
  
}
.navbar-nav > li:last-child > a {
    border-right: 0 none;
}
.navbar-brand{
	position: fixed;
	left: 43%;
	top:35px;
}

/*.navbar-brand{
	   float: left;
    margin-left: 0 !important;
    height: 50px;
    line-height: 20px;
    padding: 0px;
}*/
#navbar{
	width: 864px;
	margin: 0 auto;
}
.nav > li > a{
	 padding: 14px 21px;
}
/*========slider=========*/
.demo-1 .sl-slider-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.demo-2 .sl-slider-wrapper {
	width: 100%;
	height: 600px;
	overflow: hidden;
	position: relative;
}

.demo-2 .sl-slider h2,
.demo-2 .sl-slider blockquote {
	padding: 200px 30px 10px 30px;
	width: 80%;
	max-width:1170px;
	color: #787878;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{

	color:#cccccc;
	/*font-weight: bold;*/
	/*font-size:15px;*/
	/*font-weight: 600;*/
}
.demo-2 .sl-slider h2 {
	font-size: 50px;
	color: #7382a1;
	font-family: 'Source Sans Pro', sans-serif;
	
}

.demo-2 .sl-slider blockquote {
	font-size: 18px;
	padding-top: 10px;
	font-weight: 300;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}

.demo-2 .sl-slider blockquote cite {
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-top: 30px;
	display: inline-block;
}

.demo-2 .bg-img {
	/*padding: 200px;*/
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	position: absolute;
	/*top: -200px;
	left: -200px;*/
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
	margin-top: 50px;
}

/* Custom navigation arrows */

.nav-arrows span {
	position: absolute;
	z-index: 2000;
	top: 50%;
	width: 40px;
	height: 40px;
	border: 8px solid #ddd;
	border: 8px solid rgba(150,150,150,0.4);
	text-indent: -90000px;
	margin-top: -40px;
	cursor: pointer;
	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.nav-arrows span:hover {
	border-color: rgba(150,150,150,0.9);
}

.nav-arrows span.nav-arrow-prev {
	left: 5%;
	border-right: none;
	border-top: none;
}

.nav-arrows span.nav-arrow-next {
	right: 5%;
	border-left: none;
	border-bottom: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
	color: #ccc;
	background-color:#C2181B;
}
/* Custom navigation dots */

.nav-dots {
	text-align: center;
	position: absolute;
	bottom: 2%;
	height: 30px;
	width: 100%;
	left: 0;
	z-index: 1000;
}

.nav-dots span {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin: 3px;
	background: #ddd;
	background: rgba(150,150,150,0.4);
	cursor: pointer;
	box-shadow: 
		0 1px 1px rgba(255,255,255,0.4), 
		inset 0 1px 1px rgba(0,0,0,0.1);
}

.demo-2 .nav-dots span {
	background: rgba(150,150,150,0.1);
	margin: 6px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	box-shadow: 
		0 1px 1px rgba(255,255,255,0.4), 
		inset 0 1px 1px rgba(0,0,0,0.1),
		0 0 0 2px rgba(255,255,255,0.5);
}

.demo-2 .nav-dots span.nav-dot-current,
.demo-2 .nav-dots span:hover {
	box-shadow: 
		0 1px 1px rgba(255,255,255,0.4), 
		inset 0 1px 1px rgba(0,0,0,0.1),
		0 0 0 5px rgba(255,255,255,0.5);
}

.nav-dots span.nav-dot-current:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	top: 3px;
	left: 3px;
	border-radius: 50%;
	background: rgba(255,255,255,0.8);
}

/* Content elements */

.demo-1 .deco {
	width: 260px;
	height: 260px;
	border: 2px dashed #ddd;
	border: 2px dashed rgba(150,150,150,0.4);
	border-radius: 50%;
	position: absolute;
	bottom: 50%;
	left: 50%;
	margin: 0 0 0 -130px;
}

.demo-1 [data-icon]:after {
    content: attr(data-icon);
    font-family: 'AnimalsNormal';
	color: #999;
	text-shadow: 0 0 1px #999;
	position: absolute;
	width: 220px;
	height: 220px;
	line-height: 220px;
	text-align: center;
	font-size: 100px;
	top: 50%;
	left: 50%;
	margin: -110px 0 0 -110px;
	box-shadow: inset 0 0 0 10px #f7f7f7;
	border-radius: 50%;
}

.demo-1 .sl-slide h2 {
	color: #000;
	text-shadow: 0 0 1px #000;
	padding: 20px;
	position: absolute;
	font-size: 34px;
	font-weight: 700;
	letter-spacing: 13px;
	text-transform: uppercase;
	width: 80%;
	left: 10%;
	text-align: center;
	line-height: 50px;
	bottom: 50%;
	margin: 0 0 -120px 0;
}

.demo-1 .sl-slide blockquote {
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	height: 70px;
	color: #8b8b8b;
	z-index: 2;
	bottom: 50%;
	margin: 0 0 -200px 0;
	padding: 0;
}

.demo-1 .sl-slide blockquote p{
	margin: 0 auto;
	width: 60%;
	max-width: 400px;
	position: relative;
}

.demo-1 .sl-slide blockquote p:before {
	color: #f0f0f0;
	color: rgba(244,244,244,0.65);
	font-family: "Bookman Old Style", Bookman, Garamond, serif;
	position: absolute;
	line-height: 60px;
	width: 75px;
	height: 75px;
	font-size: 200px;
	z-index: -1;
	left: -80px;
	top: 35px;
	content: '\201C';
}

.demo-1 .sl-slide blockquote cite {
	font-size: 10px;
	padding-top: 10px;
	display: inline-block;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 4px;
}

/* Custom background colors for slides in first demo */

/* First Slide */
.demo-1 .bg-1 .sl-slide-inner,
.demo-1 .bg-1 .sl-content-slice {
	background: #fff;
}

/* Second Slide */
.demo-1 .bg-2 .sl-slide-inner,
.demo-1 .bg-2 .sl-content-slice {
	background: #000;
}

.demo-1 .bg-2 [data-icon]:after,
.demo-1 .bg-2 h2 {
	color: #fff;
}

.demo-1 .bg-2 blockquote:before {
	color: #222;
}

/* Third Slide */
.demo-1 .bg-3 .sl-slide-inner,
.demo-1 .bg-3 .sl-content-slice {
	background: #db84ad;
}

.demo-1 .bg-3 .deco {
	border-color: #fff;
	border-color: rgba(255,255,255,0.5);
}

.demo-1 .bg-3 [data-icon]:after {
	color: #fff;
	text-shadow: 0 0 1px #fff;
	box-shadow: inset 0 0 0 10px #b55381;
}

.demo-1 .bg-3 h2,
.demo-1 .bg-3 blockquote{
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.demo-1 .bg-3 blockquote:before {
	color: #c46c96;
}

/* Forth Slide */
.demo-1 .bg-4 .sl-slide-inner,
.demo-1 .bg-4 .sl-content-slice {
	background: #5bc2ce;
}

.demo-1 .bg-4 .deco {
	border-color: #379eaa;
}

.demo-1 .bg-4 [data-icon]:after {
	text-shadow: 0 0 1px #277d87;
	color: #277d87;
}

.demo-1 .bg-4 h2,
.demo-1 .bg-4 blockquote{
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.demo-1 .bg-4 blockquote:before {
	color: #379eaa;
}

/* Fifth Slide */
.demo-1 .bg-5 .sl-slide-inner,
.demo-1 .bg-5 .sl-content-slice {
	background: #ffeb41;
}

.demo-1 .bg-5 .deco {
	border-color: #ECD82C;
}

.demo-1 .bg-5 .deco:after {
	color: #000;
	text-shadow: 0 0 1px #000;
}

.demo-1 .bg-5 h2,
.demo-1 .bg-5 blockquote{
	color: #000;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.demo-1 .bg-5 blockquote:before {
	color: #ecd82c;
}

.demo-2 .bg-img-1 {
	background-image: url(../img/1.jpg);
}
.demo-2 .bg-img-2 {
	background-image: url(../img/slider_2.jpg);
}
.demo-2 .bg-img-3 {
	background-image: url(../img/1.jpg);
}
.demo-2 .bg-img-4 {
	background-image: url(../img/4.jpg);
}
.demo-2 .bg-img-5 {
	background-image: url(../img/5.jpg);
}

/* Animations for content elements */

.sl-trans-elems .deco{
	-webkit-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-moz-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-o-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-ms-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	animation: roll 1s ease-out both, fadeIn 1s ease-out both;
}
.sl-trans-elems h2{
	-webkit-animation: moveUp 1s ease-in-out both;
	-moz-animation: moveUp 1s ease-in-out both;
	-o-animation: moveUp 1s ease-in-out both;
	-ms-animation: moveUp 1s ease-in-out both;
	animation: moveUp 1s ease-in-out both;
}
.sl-trans-elems blockquote{
	-webkit-animation: fadeIn 0.5s linear 0.5s both;
	-moz-animation: fadeIn 0.5s linear 0.5s both;
	-o-animation: fadeIn 0.5s linear 0.5s both;
	-ms-animation: fadeIn 0.5s linear 0.5s both;
	animation: fadeIn 0.5s linear 0.5s both;
}
.sl-trans-back-elems .deco{
	-webkit-animation: scaleDown 1s ease-in-out both;
	-moz-animation: scaleDown 1s ease-in-out both;
	-o-animation: scaleDown 1s ease-in-out both;
	-ms-animation: scaleDown 1s ease-in-out both;
	animation: scaleDown 1s ease-in-out both;
}
.sl-trans-back-elems h2{
	-webkit-animation: fadeOut 1s ease-in-out both;
	-moz-animation: fadeOut 1s ease-in-out both;
	-o-animation: fadeOut 1s ease-in-out both;
	-ms-animation: fadeOut 1s ease-in-out both;
	animation: fadeOut 1s ease-in-out both;
}
.sl-trans-back-elems blockquote{
	-webkit-animation: fadeOut 1s linear both;
	-moz-animation: fadeOut 1s linear both;
	-o-animation: fadeOut 1s linear both;
	-ms-animation: fadeOut 1s linear both;
	animation: fadeOut 1s linear both;
}
@-webkit-keyframes roll{
	0% {-webkit-transform: translateX(500px) rotate(360deg);}
	100% {-webkit-transform: translateX(0px) rotate(0deg);}
}
@-moz-keyframes roll{
	0% {-moz-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-moz-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-o-keyframes roll{
	0% {-o-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-o-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-ms-keyframes roll{
	0% {-ms-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-ms-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@keyframes roll{
	0% {transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-webkit-keyframes moveUp{
	0% {-webkit-transform: translateY(40px);}
	100% {-webkit-transform: translateY(0px);}
}
@-moz-keyframes moveUp{
	0% {-moz-transform: translateY(40px);}
	100% {-moz-transform: translateY(0px);}
}
@-o-keyframes moveUp{
	0% {-o-transform: translateY(40px);}
	100% {-o-transform: translateY(0px);}
}
@-ms-keyframes moveUp{
	0% {-ms-transform: translateY(40px);}
	100% {-ms-transform: translateY(0px);}
}
@keyframes moveUp{
	0% {transform: translateY(40px);}
	100% {transform: translateY(0px);}
}
@-webkit-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-o-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-ms-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes scaleDown{
	0% {-webkit-transform: scale(1);}
	100% {-webkit-transform: scale(0.5);}
}
@-moz-keyframes scaleDown{
	0% {-moz-transform: scale(1);}
	100% {-moz-transform: scale(0.5);}
}
@-o-keyframes scaleDown{
	0% {-o-transform: scale(1);}
	100% {-o-transform: scale(0.5);}
}
@-ms-keyframes scaleDown{
	0% {-ms-transform: scale(1);}
	100% {-ms-transform: scale(0.5);}
}
@keyframes scaleDown{
	0% {transform: scale(1);}
	100% {transform: scale(0.5);}
}
@-webkit-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-moz-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-o-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-ms-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}


/* Media Queries for custom slider */

@media screen and (max-width: 660px) {
	.demo-1 .deco {
		width: 130px;
		height: 130px;
		margin-left: -65px;
		margin-bottom: 50px;
	}

	.demo-1 [data-icon]:after {
		width: 110px;
		height: 110px;
		line-height: 110px;
		font-size: 40px;
		margin: -55px 0 0 -55px;
	}

	.demo-1 .sl-slide blockquote {
		margin-bottom: -120px;
	}

	.demo-1 .sl-slide h2 {
		line-height: 22px;
		font-size: 18px;
		margin-bottom: -40px;
		letter-spacing: 8px;
	}

	.demo-1 .sl-slide blockquote p:before {
		line-height: 10px;
		width: 40px;
		height: 40px;
		font-size: 120px;
		left: -45px;
	}

	.demo-2 .sl-slider-wrapper {
		height: 500px;
	}

	.demo-2 .sl-slider h2 {
		font-size: 36px;
	}

	.demo-2 .sl-slider blockquote {
		font-size: 16px;
	}

}
.sl-slider-wrapper {
	width: 800px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.sl-slider {
	position: absolute;
	top: 0;
	left: 0;
}

/* Slide wrapper and slides */

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
} 

.sl-slide {
	z-index: 1;
}

/* The duplicate parts/slices */

.sl-content-slice {
	overflow: hidden;
	position: absolute;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity : 1;
}

/* Horizontal slice */

.sl-slide-horizontal .sl-content-slice {
	width: 100%;
	height: 50%;
	left: -200px;
	-webkit-transform: translateY(0%) scale(1);
	-moz-transform: translateY(0%) scale(1);
	-o-transform: translateY(0%) scale(1);
	-ms-transform: translateY(0%) scale(1);
	transform: translateY(0%) scale(1);
}

.sl-slide-horizontal .sl-content-slice:first-child {
	top: -200px;
	padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
	top: 50%;
	padding: 0px 200px 200px 200px;
}

/* Vertical slice */

.sl-slide-vertical .sl-content-slice {
	width: 50%;
	height: 100%;
	top: -200px;
	-webkit-transform: translateX(0%) scale(1);
	-moz-transform: translateX(0%) scale(1);
	-o-transform: translateX(0%) scale(1);
	-ms-transform: translateX(0%) scale(1);
	transform: translateX(0%) scale(1);
}

.sl-slide-vertical .sl-content-slice:first-child {
	left: -200px;
	padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
	left: 50%;
	padding: 200px 200px 200px 0px;
}

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
	position: absolute;
}

.sl-content {
	width: 100%;
	height: 100%;
	background: #fff;
}

/* Default styles for background colors */
.sl-slide-horizontal .sl-slide-inner {
	background: #ddd;
}

.sl-slide-vertical .sl-slide-inner {
	background: #ccc;
}

.navbar {
   
    margin-bottom: 0px;
}
.demo-2{
	padding: 0;
}
/*==========about =============*/
#about{
	background-image: url(../img/about_bg.jpg);
	padding:70px 0 100px 0;
	color: #fff;
}
#about h2,#skill h2{
	font-size: 50px;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;

}
#carousel h2,.form-area h2,.find h2{
	font-size: 50px;

	font-family: 'Source Sans Pro', sans-serif;
}
#about p{
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
}
#about span{
	color: #c2181b;
}
.form-area i{
	color: #c2181b;
	font-style: normal;

}
#skill h3{
	margin-left: 60px;
color: #c2181b;
font-size: 50px;
margin-top: -28px;

}
#skill{
	background: url(../img/skill_bg.jpg);
	color: #fff;
} 
#skill p{
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
}
.skill_mig h4{
	background: #c2181b;
	height: 38px;
	line-height: 38px;
	text-align: center;
}
.skill_mig p{
	padding:0 10px; 
}

.skill_mig{
	position: relative;
	overflow: hidden;
	padding-right: 0;

}
.box_text{
	position: absolute;
	background: rgba(0,0,0, 1);
	height: 100%;
	width:100%;
	top:-100%;
	transition: .5s;
}

.skill_mig:hover .box_text{
top:48px;
}
.icon{
	position: absolute;
	left: 35%;
	bottom: -100%;
	width:100px;
	text-align: center;
}
.icon i{
	color:#761c23;
}
.icon a{
	color: #fff;
}
.skill_mig:hover .icon{
	bottom: 30%;
}
#skill{
	padding:70px 0 100px 0;
}
#online h2{
	font-size: 50px;
color: #000
	
}

#online h3{
	font-size: 50px;
	margin:0;
	padding: 0;
	color: #c2181b
	
}
#online {
	background: url(../img/school.png);
	color: #000;
	padding:70px 0 100px 0;
	font-size: 16px;
}
/*.aust_form {
	margin-left: 50px;
}*/
/*#online{
	color: #000;
	font-size: 16px;
}*/
.aust_form > li > a{
	padding:6px 38px;
	border-radius: 0;
	background: #e72201;
	color: #fff;
}

.aust_form > li > a:hover{
	background: #c2181b;
}
.aust_form  > li.active > a, .aust_form  > li.active > a:focus, .aust_form  > li.active > a:hover{
	background: #c2181b;
	
}
.dob .col-sm-2{
	padding-right: 0;
	width: 15.5%;
}
.sub{
	/* background-color: #dd070b !important;*/
   border:0;
    color: #fff !important;
    border-radius: 3px;
	background:url(../img/btn1.jpg) repeat;
    width:100%;
    font-weight: bold;
}

.sub1{
    color: #fff !important;
    border-radius: 3px;
     border:0;
	background:url(../img/btn1.jpg) repeat;
    width:100%;
      font-weight: bold;
}

.sub:hover{
	background:url(../img/btn1-hover.jpg) repeat;
	color: #fff;

}
.sub1:hover{
	background:#000 url(../img/btn1-hover.jpg) repeat;
	color: #fff;

}
.tab-content label{
	font-weight: normal;
}
.tab-content .dropdown-menu {
    -moz-box-sizing: border-box;
    margin-left: 16px;
    min-width: 89% !important;
    z-index: 1035;
}
.tab-content .btn-default,.tab-content input{
	 background-color: #eadec7;
    border-color: #999999;
    color: #000;
    border-radius: 0;
}
.aust_form{
	margin-bottom: 20px;
}

.cover-card {
	background: silver;
	padding: 0px;
	margin: 0px;
	height:373px;
}
.cover-card > p {

	color: #000;
	
		margin-left: 90px;
}
.cover-card h2{
	color: #fff;
	margin-left: 90px;
	font-size: 50px;
	margin-top: 50px;
}
/*.cover-card > p {
	text-align: center;
	background-color: rgba(6,6,6,0.0);
	color: rgba(6,6,6,0.0);
	width: 100%;
	height: 100%;
	top:0;
	
}
.cover-card:hover > p {
	background-color: rgba(6,6,6,0.3);
	color: white;
	text-shadow: 3px 3px 10px #000;
}
*/
/*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/


/*section {
    padding-top: 100px;
    padding-bottom: 100px;
}
*/
.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
  /*  width: 100px;
    height: 100px;*/
    margin: 0 auto;
    border-radius: 100px;
}
.form-area .bootstrap-select{
	width: 257px !important;
}
.footer{
	margin: 50px 0;
}
.footer a{
	margin:0 15px;
	color:#757575; 
}
#carousel{
	background-image: url(../img/testimonial_bg.jpg);
	padding: 70px 0;
}
.address{
	margin-bottom: 34px;
}
.address h5{
	font-size: 16px;
	margin-bottom: 16px;
}
.address h5 span{
	color: #c2181b;
}
.address h6{
	font-size: 14px;
	font-weight: bold;
}
.footer p{
	color:#d25658;
}


/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 3px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}
.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 40px;
	height: 40px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:40px;
	text-align: center;
}
.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-network a {
	 background-color: #D3D3D3;   
}
.contact_us .form-group{
	margin-bottom: 10px;
}
.find{
	width: 50%;
}
.contact_us .btn-default,.contact_us input,.contact_us textarea {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #333333;
    border-radius:3px;
    box-shadow:none;
}
#slider blockquote{
	border-left: none;
}


body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
       /* padding: 20px 0;*/
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */

.intro-section {
 /*   height: 100%;*/
 /*   padding-top: 150px;
    text-align: center;
    background: #fff;*/
}

.about-section {
  /*  height: 100%;*/
  /*  padding-top: 150px;
    text-align: center;
    background: #eee;*/
}

.services-section {
   /* height: 100%;*/
 /*   padding-top: 150px;
    text-align: center;
    background: #fff;*/
}

.contact-section {
   /* height: 100%;*/
   /* padding-top: 150px;
    text-align: center;
    background: #eee;*/
}
#study{
	padding-bottom: 70px;
}
.navbar-nav .about a{
	border-left: none;
}

.btn-warning {
   background:url(../img/btn1.jpg) repeat;
    border-color: #EEA236;
    color: #FFFFFF;
    border: 1px solid #999999;
}
/*.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background-color:#EADEC7 !important;
}
*/

.input-group input{
	background-color:#fff !important;
}
.input05 input{
	background-color:#EADEC7 !important;
}
.btn-warning:hover{
background:url(../img/btn1-hover.jpg) repeat;
	color: #fff;
}

.goTop
{
	cursor: pointer;
	position: fixed;
	bottom: 0;
	width:48px;
	height: 23px;
	left:45%;
	background: #fff;
	text-align: center;
	background: url('../img/back_to_top.png') no-repeat;
}

/*==============faq==================*/
#faq{
	background-image: url(../img/subtle_white_mini_waves.png);
	padding:120px 0 100px 0;
	
}
#faq h2{
	font-size: 50px;
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 10px;

}
#faq span{
	color: #c2181b;
}
.impartial li {
	background: url(../img/arrow.png) no-repeat left top;
	padding-left: 15px;
}
.impartial li{
	margin-bottom: 10px;
}

/*#faq{
	background-image: url(../img/subtle_white_mini_waves.png);
	padding:120px 0 100px 0;
	
}*/
.aust_business{
	padding-top: 160px !important;
}
.aust_business blockquote {
    border-left: 5px solid #c2181b;
    font-weight: bold;
}
.carousel-inner blockquote{
	border-left: none;
}
.aust_business h4{
	font-size:30px;

}
.aust_business cite{
	font-style: normal;
	font-size:25px;
}
.aust_business .basic{
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.other_visa{
	width: 800px;
	margin:0 auto;
}
.other_visa h3{
	color: #c2181b;
}
#online li.active:after {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #C2181B rgba(3, 3, 0, 0) rgba(3, 3, 0, 0);
    border-style: solid;
    border-width: 8px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -7px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
}
.bro input{
	box-shadow:none;
}
.news h2{
	font-size: 50px;
	margin-bottom: 0;
}
.news h2 span{
	color: #C2181B;
}
.news{
	margin-top:120px;
} 
.news .date{
	background: #c2181b;
	padding: 5px 15px;
	color:#fff;
}


.news_events{
	position: relative;
	overflow: hidden;
	padding-right: 0;

}
.box_text_1{
	position: absolute;
	background: rgba(0,0,0, 0.3);
	 height: 100%;
    left: 30%;
    top: -100%;
    width: 60%;
	transition: .5s;

}

.news_events:hover .box_text_1{
top:0px;
}
.icon{
	position: absolute;
	left: 35%;
	bottom: -100%;
	width:100px;
	text-align: center;
}
.news_events .icon i{
	color:#fff;
	font-size: 25px;
}
/*.icon a{
	color: #fff;
}*/
.news_events:hover .icon{
	bottom: 40%;
	left: 40%;
}
.news1 .btn-primary {
    background-color: #9a9a9a;
    border-color: #c2c2c2;
    color: #FFFFFF;
}